body {
    /*background-image: url(background.jpg);*/
    background-color: black;
    background-attachment: fixed;
    font-family: 'Georgia', serif;
}

#main {
    color: #DDDDDD;
    height: auto;
    margin: 3% 25% 3% 25%;
    position: relative;
    background-color:#000000;  
    padding: 20px;
    width:auto;
    border: 5px solid white;
}

#main2 {
    color: #DDDDDD;
    float: right;
    height: auto;
    margin: 1.5% 2% 3% 10%;
    position: relative;
    background-color: #000000;
    padding: 20px;
    width: 250px;
    border: 5px solid white;
    line-height: 18px;
}

#yeah {

    line-height: 32px;

}

#header {
    /*position: relative;
    left: 5%;
    height: 200px;
    width: 90%;
    display:inline-block;
    background: black url(./images/header.png) center no-repeat;
    border: 5px solid black; */
}

#music {
    margin: 1.4em;
    width: 42%;
    border: 3px solid white;
    background-color: black;
    font-family: Orbitron;
    font-size: 8px;
}

button {
    color: white;
    background-color: black;
    border-radius: 0px;
    border: 0px solid;
    font-family: Orbitron;
    font-size: 8px;
}

button:hover {
    background-color: #222222;
}
    
p { 
    font-size: 1em;
    color: #DDDDDD;
    margin: 1em;
}
a:link {
    text-decoration:none;
    color:cornflowerblue;
}
#yeah a:hover {
    color: #74A5FD;
}
a:visited {
    color: cornflowerblue;
}

p.illust  {
text-align: center;

}
p.illust img {
    border: white double 5px;
}

p.h1 {
    font-family:Calibri;
    font-weight: lighter;
    font-size:3em;
    color:#FFFFFF;
    margin: 0px;
}

p.h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #DDDDDD;
    text-align:center;
    margin: 0em;} 
p.h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:300;
    font-size: 1.75em;
    margin: .5em;
    color: #DDDDDD;
    text-align:center;
} 
p.h4 {
    font-family: 'Georgia', serif;
    font-style: italic ;
    text-align: center;
    font-size: 1.10em;
    margin: 0em;
}

.storyblock {
    color: #DDDDDD;
    position: relative;
    display:table;
    /* padding: 0em 1em 1em 1em; */
    text-align:justify;
}

p.storyblock-text {
    vertical-align: middle;
}

p.toc {
    text-align: center;
}

#gallery img {
    height: 200px;
    /* width: 200px; */
}

/* #thumb {
    margin: 1em;
    position:absolute; 
} */
#thumb img {
    position: relative;
    float: left;
    margin: 0.5em 1em 1em 1em;
    width: 100px;
    height: 100px;
    border: 1.5px solid #ffffff;
    
}

#castthumb img {
    position: relative;
    float: left;
    margin: 0.5em 1em 1em 1em;
    width: 150px;
    height:150px;
    border: none;
    
}

.neonText_cf {
    color: #4ff;
    text-shadow: 0 0 2px #0bf, 0 0 8px #0df, 0 0 22px #0ff
}

.neonText_dr {
    color: #07f;
    text-shadow: 0 0 2px #04f, 0 0 8px #02f, 0 0 22px #00f
}

.neonText_tr {
    color: #f33;
    text-shadow: 0 0 2px #f22, 0 0 8px #f11, 0 0 22px #f00
}

.neonText_fye {
    color: #fb2;
    text-shadow: 0 0 2px #fa0, 0 0 8px #f90, 0 0 22px #f80
}

.neonText_fm {
    color: #2fb;
    text-shadow: 0 0 2px #0fa, 0 0 8px #0f9, 0 0 22px #0f8
}

.neonText_ss {
    color: #ff9a00;
    text-shadow: 0 0 2px #ee8900, 0 0 8px #dd7800, 0 0 22px #cc6700
}

.neonText_dd {
    color: #aeff00;
    text-shadow: 0 0 2px #9dee00, 0 0 8px #8cdd00, 0 0 22px #7bcc00
}

.neonText_sr {
    color: #fffa81;
    text-shadow: 0 0 2px #eee970, 0 0 8px #ddd860, 0 0 22px #ccc750
}

.neonText_tl {
    color: #ff566d;
    text-shadow: 0 0 2px #ee455c, 0 0 8px #dd344b, 0 0 22px #cc233a
}

.neonText_pp {
    color: #93f;
    text-shadow: 0 0 2px #82e, 0 0 8px #71d, 0 0 22px #60c
}

.neonText_rs {
    color: #9a2586;
    text-shadow: 0 0 2px #891475, 0 0 8px #780364, 0 0 22px #670253
}

.neonText_byb {
    color: #7afdef;
    text-shadow: 0 0 2px #69ecde, 0 0 8px #58dbcd, 0 0 22px #47cabc
}

.neonText_sv {
    color: #ff0;
    text-shadow: 0 0 2px #ee0, 0 0 8px #dd0, 0 0 22px #cc0
}

.neonText_wep {
    color: #0f7;
    text-shadow: 0 0 2px #0f4, 0 0 8px #0f2, 0 0 22px #0f0
}

.neonLine_cf {
    border-color: #4ff;
    box-shadow: 0 0 2px #0bf, 0 0 8px #0df, 0 0 22px #0ff;
    margin: 0.0001em
}

.neonLine_dr {
    border-color: #07f;
    box-shadow: 0 0 2px #04f, 0 0 8px #02f, 0 0 22px #00f;
    margin: 0.0001em
}

.neonLine_tr {
    border-color: #f33;
    box-shadow: 0 0 2px #f22, 0 0 8px #f11, 0 0 22px #f00;
    margin: 0.0001em
}

.neonLine_fye {
    border-color: #fb2;
    box-shadow: 0 0 2px #fa0, 0 0 8px #f90, 0 0 22px #f80;
    margin: 0.0001em
}

.neonLine_fm {
    border-color: #2fb;
    box-shadow: 0 0 2px #0fa, 0 0 8px #0f9, 0 0 22px #0f8;
    margin: 0.0001em
}

.neonLine_ss {
    border-color: #fa0;
    box-shadow: 0 0 2px #e80, 0 0 8px #d70, 0 0 22px #c60;
    margin: 0.0001em
}

.neonLine_dd {
    border-color: #aeff00;
    box-shadow: 0 0 2px #9dee00, 0 0 8px #8cdd00, 0 0 22px #7bcc00;
    margin: 0.0001em
}

.neonLine_sr {
    border-color: #fffa81;
    box-shadow: 0 0 2px #eee970, 0 0 8px #ddd860, 0 0 22px #ccc750;
    margin: 0.0001em
}

.neonLine_tl {
    border-color: #ff566d;
    box-shadow: 0 0 2px #ee455c, 0 0 8px #dd344b, 0 0 22px #cc233a;
    margin: 0.0001em
}

.neonLine_pp {
    border-color: #93f;
    box-shadow: 0 0 2px #82e, 0 0 8px #71d, 0 0 22px #60c;
    margin: 0.0001em
}

.neonLine_rs {
    border-color: #9a2586;
    box-shadow: 0 0 2px #891475, 0 0 8px #780364, 0 0 22px #670253;
    margin: 0.0001em
}

.neonLine_byb {
    border-color: #7afdef;
    box-shadow: 0 0 2px #69ecde, 0 0 8px #58dbcd, 0 0 22px #47cabc;
    margin: 0.0001em
}

.neonLine_sv {
    border-color: #ff0;
    box-shadow: 0 0 2px #ee0, 0 0 8px #dd0, 0 0 22px #cc0;
    margin: 0.0001em
}

.neonLine_wep {
    border-color: #0f7;
    box-shadow: 0 0 2px #0f4, 0 0 8px #0f2, 0 0 22px #0f0;
    margin: 0.0001em
}

.wrapper {
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

    .marquee p {
        display: inline-block;
    }

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}


